# 데이터 수집 - 크롤링

### 소상공인시장진흥공단에서 제공하는 상권정보 크롤링
- https://sg.sbiz.or.kr/godo/stat/area.sg

#### 라이브러리

In [12]:
import pandas as pd

#### selenium(XPATH)으로 url에 접속

In [9]:
from selenium import webdriver
from selenium.webdriver.common.by import By
driver = webdriver.Chrome('./driver/chromedriver.exe')
url = 'https://sg.sbiz.or.kr/godo/stat/area.sg'
driver.get(url)

C:\Users\97dkr\AppData\Local\Temp\ipykernel_1680\159380846.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./driver/chromedriver.exe')

In [2]:
# 군산, 목포, 통영 페이지 순서대로 들어가서 접근

# //*[@id="tableBody"]/tr[1]/td[1]  => 행정동
# //*[@id="tableBody"]/tr[1]/td[3]  => 인구수
# //*[@id="tableBody"]/tr[1]/td[7]  => 업소수

#### 군산 페이지 정보 가져오기 (dong:행정지역, pop:인구수, num_shop:업소수)

In [10]:
dong = []
pop = []
num_shop = []

for i in range(1, len(driver.find_elements(By.CSS_SELECTOR, '#tableBody tr'))+1) :
    dong.append(driver.find_elements(By.XPATH, f'//*[@id="tableBody"]/tr[{i}]/td[1]')[0].text)
    pop.append(driver.find_elements(By.XPATH, f'//*[@id="tableBody"]/tr[{i}]/td[3]')[0].text)
    num_shop.append(driver.find_elements(By.XPATH, f'//*[@id="tableBody"]/tr[{i}]/td[7]')[0].text)

print('dong list : ', dong)
print('pop list : ', pop)
print('num_shop : ', num_shop)

dong list :  ['전라북도', '┗ 군산시', '┗ 옥구읍', '┗ 옥산면', '┗ 회현면', '┗ 임피면', '┗ 서수면', '┗ 대야면', '┗ 개정면', '┗ 성산면', '┗ 나포면', '┗ 옥도면', '┗ 옥서면', '┗ 해신동', '┗ 월명동', '┗ 신풍동', '┗ 삼학동', '┗ 중앙동', '┗ 흥남동', '┗ 조촌동', '┗ 경암동', '┗ 구암동', '┗ 개정동', '┗ 수송동', '┗ 나운1동', '┗ 나운2동', '┗ 나운3동', '┗ 소룡동', '┗ 미성동']
pop list :  ['1,870,445', '282,292', '3,601', '3,680', '3,795', '3,089', '2,849', '5,542', '3,514', '3,286', '2,482', '3,766', '3,898', '2,782', '7,031', '8,277', '6,740', '3,636', '10,707', '15,461', '8,770', '6,378', '3,293', '53,364', '16,557', '27,661', '37,914', '19,260', '14,961']
num_shop :  ['121,687', '19,159', '109', '112', '81', '182', '108', '285', '102', '129', '78', '163', '141', '312', '1,411', '904', '424', '1,136', '972', '1,459', '563', '216', '114', '3,038', '1,396', '1,415', '1,715', '1,661', '933']

#### 가져온 정보(list)로 데이터프레임(gunsan_df)만들기

In [32]:
gunsan_df = pd.DataFrame(data = list(zip(dong, pop, num_shop)), columns = ['dong', 'population', 'num_of_shop'])
gunsan_df

     dong population num_of_shop
0    경상남도  3,368,020     174,259
1   ┗ 통영시    138,693       7,983
2   ┗ 산양읍      5,039         339
3   ┗ 용남면     13,086         389
4   ┗ 도산면      3,203         136
5   ┗ 광도면     29,003       1,293
6   ┗ 욕지면      1,967         152
7   ┗ 한산면      2,183          66
8   ┗ 사량면      1,574          95
9   ┗ 도천동     11,096         424
10  ┗ 명정동      3,793         448
11  ┗ 중앙동      5,369       1,173
12  ┗ 정량동     10,947         746
13  ┗ 북신동      9,730         677
14  ┗ 미수동     13,232         351
15  ┗ 봉평동     13,016         596
16  ┗ 무전동     15,456       1,098

In [36]:
gunsan_df['dong'] = gunsan_df['dong'].str.replace('┗', '')

In [37]:
gunsan_df

    dong population num_of_shop
0   경상남도  3,368,020     174,259
1    통영시    138,693       7,983
2    산양읍      5,039         339
3    용남면     13,086         389
4    도산면      3,203         136
5    광도면     29,003       1,293
6    욕지면      1,967         152
7    한산면      2,183          66
8    사량면      1,574          95
9    도천동     11,096         424
10   명정동      3,793         448
11   중앙동      5,369       1,173
12   정량동     10,947         746
13   북신동      9,730         677
14   미수동     13,232         351
15   봉평동     13,016         596
16   무전동     15,456       1,098

#### 수집 데이터 저장

In [42]:
gunsan_df.to_excel('./data/gunsan.xlsx', index=False)

#### 가져온 정보(list)로 데이터프레임(mokpo_df)만들기

In [18]:
dong = []
pop = []
num_shop = []

for i in range(1, len(driver.find_elements(By.CSS_SELECTOR, '#tableBody tr'))+1) :
    dong.append(driver.find_elements(By.XPATH, f'//*[@id="tableBody"]/tr[{i}]/td[1]')[0].text)
    pop.append(driver.find_elements(By.XPATH, f'//*[@id="tableBody"]/tr[{i}]/td[3]')[0].text)
    num_shop.append(driver.find_elements(By.XPATH, f'//*[@id="tableBody"]/tr[{i}]/td[7]')[0].text)

print('dong list : ', dong)
print('pop list : ', pop)
print('num_shop : ', num_shop)

dong list :  ['전라남도', '┗ 목포시', '┗ 용당1동', '┗ 용당2동', '┗ 연동', '┗ 산정동', '┗ 연산동', '┗ 원산동', '┗ 대성동', '┗ 목원동', '┗ 동명동', '┗ 삼학동', '┗ 만호동', '┗ 유달동', '┗ 죽교동', '┗ 북항동', '┗ 용해동', '┗ 이로동', '┗ 상동', '┗ 하당동', '┗ 신흥동', '┗ 삼향동', '┗ 옥암동', '┗ 부흥동', '┗ 부주동']
pop list :  ['1,910,594', '244,125', '11,971', '6,205', '5,587', '8,643', '6,758', '15,069', '8,356', '6,522', '6,430', '6,624', '3,860', '5,831', '4,025', '10,432', '18,551', '10,910', '19,709', '12,000', '17,832', '5,538', '10,861', '13,926', '28,486']
num_shop :  ['122,937', '17,379', '1,462', '552', '455', '279', '315', '1,143', '290', '1,172', '649', '593', '642', '268', '246', '594', '613', '373', '858', '1,293', '2,985', '258', '659', '923', '757']

In [19]:
mokpo_df = pd.DataFrame(data = list(zip(dong, pop, num_shop)), columns = ['dong', 'population', 'num_of_shop'])
mokpo_df

      dong population num_of_shop
0     전라남도  1,910,594     122,937
1    ┗ 목포시    244,125      17,379
2   ┗ 용당1동     11,971       1,462
3   ┗ 용당2동      6,205         552
4     ┗ 연동      5,587         455
5    ┗ 산정동      8,643         279
6    ┗ 연산동      6,758         315
7    ┗ 원산동     15,069       1,143
8    ┗ 대성동      8,356         290
9    ┗ 목원동      6,522       1,172
10   ┗ 동명동      6,430         649
11   ┗ 삼학동      6,624         593
12   ┗ 만호동      3,860         642
13   ┗ 유달동      5,831         268
14   ┗ 죽교동      4,025         246
15   ┗ 북항동     10,432         594
16   ┗ 용해동     18,551         613
17   ┗ 이로동     10,910         373
18    ┗ 상동     19,709         858
19   ┗ 하당동     12,000       1,293
20   ┗ 신흥동     17,832       2,985
21   ┗ 삼향동      5,538         258
22   ┗ 옥암동     10,861         659
23   ┗ 부흥동     13,926         923
24   ┗ 부주동     28,486         757

In [38]:
mokpo_df['dong'] = mokpo_df['dong'].str.replace('┗', '')
mokpo_df

     dong population num_of_shop
0    전라남도  1,910,594     122,937
1     목포시    244,125      17,379
2    용당1동     11,971       1,462
3    용당2동      6,205         552
4      연동      5,587         455
5     산정동      8,643         279
6     연산동      6,758         315
7     원산동     15,069       1,143
8     대성동      8,356         290
9     목원동      6,522       1,172
10    동명동      6,430         649
11    삼학동      6,624         593
12    만호동      3,860         642
13    유달동      5,831         268
14    죽교동      4,025         246
15    북항동     10,432         594
16    용해동     18,551         613
17    이로동     10,910         373
18     상동     19,709         858
19    하당동     12,000       1,293
20    신흥동     17,832       2,985
21    삼향동      5,538         258
22    옥암동     10,861         659
23    부흥동     13,926         923
24    부주동     28,486         757

#### 수집 데이터 저장

In [43]:
mokpo_df.to_excel('./data/mokpo.xlsx')

#### 가져온 정보(list)로 데이터프레임(tongyeong_df)만들기

In [21]:
dong = []
pop = []
num_shop = []

for i in range(1, len(driver.find_elements(By.CSS_SELECTOR, '#tableBody tr'))+1) :
    dong.append(driver.find_elements(By.XPATH, f'//*[@id="tableBody"]/tr[{i}]/td[1]')[0].text)
    pop.append(driver.find_elements(By.XPATH, f'//*[@id="tableBody"]/tr[{i}]/td[3]')[0].text)
    num_shop.append(driver.find_elements(By.XPATH, f'//*[@id="tableBody"]/tr[{i}]/td[7]')[0].text)

print('dong list : ', dong)
print('pop list : ', pop)
print('num_shop : ', num_shop)

dong list :  ['경상남도', '┗ 통영시', '┗ 산양읍', '┗ 용남면', '┗ 도산면', '┗ 광도면', '┗ 욕지면', '┗ 한산면', '┗ 사량면', '┗ 도천동', '┗ 명정동', '┗ 중앙동', '┗ 정량동', '┗ 북신동', '┗ 미수동', '┗ 봉평동', '┗ 무전동']
pop list :  ['3,368,020', '138,693', '5,039', '13,086', '3,203', '29,003', '1,967', '2,183', '1,574', '11,096', '3,793', '5,369', '10,947', '9,730', '13,232', '13,016', '15,456']
num_shop :  ['174,259', '7,983', '339', '389', '136', '1,293', '152', '66', '95', '424', '448', '1,173', '746', '677', '351', '596', '1,098']

In [22]:
tongyeong_df = pd.DataFrame(data = list(zip(dong, pop, num_shop)), columns = ['dong', 'population', 'num_of_shop'])
tongyeong_df

     dong population num_of_shop
0    경상남도  3,368,020     174,259
1   ┗ 통영시    138,693       7,983
2   ┗ 산양읍      5,039         339
3   ┗ 용남면     13,086         389
4   ┗ 도산면      3,203         136
5   ┗ 광도면     29,003       1,293
6   ┗ 욕지면      1,967         152
7   ┗ 한산면      2,183          66
8   ┗ 사량면      1,574          95
9   ┗ 도천동     11,096         424
10  ┗ 명정동      3,793         448
11  ┗ 중앙동      5,369       1,173
12  ┗ 정량동     10,947         746
13  ┗ 북신동      9,730         677
14  ┗ 미수동     13,232         351
15  ┗ 봉평동     13,016         596
16  ┗ 무전동     15,456       1,098

In [39]:
tongyeong_df['dong'] = tongyeong_df['dong'].str.replace('┗', '')
tongyeong_df

    dong population num_of_shop
0   경상남도  3,368,020     174,259
1    통영시    138,693       7,983
2    산양읍      5,039         339
3    용남면     13,086         389
4    도산면      3,203         136
5    광도면     29,003       1,293
6    욕지면      1,967         152
7    한산면      2,183          66
8    사량면      1,574          95
9    도천동     11,096         424
10   명정동      3,793         448
11   중앙동      5,369       1,173
12   정량동     10,947         746
13   북신동      9,730         677
14   미수동     13,232         351
15   봉평동     13,016         596
16   무전동     15,456       1,098

#### 수집 데이터 저장

In [45]:
tongyeong_df.to_excel('./data/tongyeong.xlsx')